body{
  background-color: #ccc;
}

header{
  background-color: chocolate;
}

.character{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #dbeaf7;
  text-decoration: none;
}

.character-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
   gap: 10px; 
}

/* タブレット */
@media (max-width: 1024px){
  .character-list{
    grid-template-columns: 1fr;
  }
}

/* スマホ */
@media (max-width: 480px){
  .character-list{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px){
  .character{
    flex-direction: column;
  }
}

.character img{
  width: 100%;
  max-width: 120px;
  height: auto;
  object-fit: cover;
}

.character p{
   margin: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 100px;
  margin-right: 49px;
}

.avenger{
  width: 100%;
  max-width: 500px;
}