body{
  background-color: #ccc;
}

header{
  background-color: chocolate;
}

.character{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #dbeaf7;
  text-decoration: none;
}

.character-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
   gap: 15px; 
}

.character img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* タブレット */
@media (max-width: 900px) {
  .character-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* スマホ */
@media (max-width: 600px) {
  .character-list {
    grid-template-columns: 1fr;
  }
}


.character p{
   margin: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 100px;
  margin-right: 49px;
   white-space: nowrap;
}

/* 動画のサイズ調整 */
.movie{
  width: 100%;
  max-width: 500px;
}
